body {
    @media (min-width: 1200px) {
        width: 90%;
        padding: 30px;
        margin: 35px auto 0 auto;
        display: flex;
        justify-content: space-between;
        box-shadow: -7px 7px 25px 0px rgba(0,0,0,0.37);
        border: 1px solid #e0e0e0;
        background: linear-gradient(to bottom left, #e8e8eb, #f5f6f6);
        border-radius: 2em;
    }
}